.photo-popup__close
{background-image: url(../../../images/CloseIcon.png);
width: 32px;
height: 32px;
position: absolute;
border: none;
background-color: rgba(0, 0, 0, 0);
background-size: cover;
right: -40px;
top: -40px;
}
@media screen and (max-width: 768px) {
.photo-popup__close {
  width: 20px;
  height: 20px;
  right: 0;
  top: -34px;
}
}
